{% load staticfiles %}
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/business-casual.css' %}">
  </head>
  <body>


    <div>
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/ClimateAdaptationMitigation/home">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><a href="/ClimateAdaptationMitigation/map">Graph</a></li>
            <li><a href="/ClimateAdaptationMitigation/contact">Contact</a></li>
            <li><a href="/ClimateAdaptationMitigation/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
      </nav>
    </div>

        <script
        src="http://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
        </script>



        <div class="footer">
          <footer class="bg-faded text-center py-5">
            <div class="container">
              <p class="m-0">Copyright &copy; Your Website 2017</p>
            </div>
          </footer>
        </div>

    </body>


</html>
