{% load staticfiles %}
<html>
  <head>

    <link rel="stylesheet" href="{% static '/css/business-casual.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/files/sigma.min.js"></script>
    <script src="/static/files/sigma.parsers.gexf.min.js"></script>

    <!-- Do not need these two libraries/Keeping just in case
    <script src="http://d3js.org/colorbrewer.v1.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    -->

    <style type="text/css">
      body {
        margin: 0;
      }

    </style>

  </head>

    <body>
      <div>
    <!--navbar begin-->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/ClimateAdaptationMitigation/home">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><a href="/ClimateAdaptationMitigation/contact">Contact</a></li>
                <li><a href="/ClimateAdaptationMitigation/about">About</a></li>
              <!--dropdown for navbar begin -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose a Data Visualization <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/ClimateAdaptationMitigation/map">Original</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/ClimateAdaptationMitigation/scope">By Scope</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/ClimateAdaptationMitigation/type">By Type</a></li>
                </ul>
              </li>
              <!--dropdown for navbar ends -->
              <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
              </ul>
            </div>
          </div>
        </nav>
  <!--navbar end-->
      </div>
      <h2 align="center">Original</h2>

        <div id="container">

            <div id="viz">

              <script src="/static/js/map.js"></script>
            </div>
          </div>
        <div class="footer">
          <footer class="bg-faded text-center py-5">
            <div class="container">
              <p class="m-0">Copyright &copy; Your Website 2017</p>
            </div>
          </footer>
        </div>
    </body>


</html>
