<!-- for the general user form -->
{% load staticfiles %}
<html>
<head>

  <link rel="stylesheet" href="{% static 'css/business-casual.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <script src='{% static "js/jquery.min.js" %}'> </script>
  <script src='{% static "js/bootstrap.js" %}'> </script>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  <h1></h1>
  <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Climate Adaptation and Mitigation Project</div>
  <h1></h1>

  <style>
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  </style>

  <style>
    #footer{
      width:100%;
      position:fixed;
      bottom:0;
      left:0;
    }
  </style>

</head>

<!--body-->
<body>

  <div>
    <!--navbar begin-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <!--<a class="navbar-brand" href="/ClimateAdaptationMitigation/home">Home</a>-->

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="/ClimateAdaptationMitigation/home">Home</a></li>

            <!--dropdown for navbar begin -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose a SNA Visualization <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/ClimateAdaptationMitigation/organizationmap">Geographical</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/ClimateAdaptationMitigation/scope">By Scope</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/ClimateAdaptationMitigation/type">By Type</a></li>
              </ul>
            </li>
            <!--dropdown for navbar ends -->

            <li id="about"><a href="/ClimateAdaptationMitigation/about">About</a></li>
            <li><a href="/ClimateAdaptationMitigation/contact">Contact</a></li>
            <li id="form"><a href="/ClimateAdaptationMitigation/form">Add Organization</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>

      <!--navbar end-->
    </div>

    <div class="container">

        <div class="row">
          <div class="col-lg-3-offset-lg-3">
            <h1 id="paragraph">
              Please fill out this form to make changes to the visualizations
            </h1>
          </div>

        </div>
    </div>
    <h4>
      &nbsp;
    </h4>

    <div class="container">
      <form method='POST' action=''>
        {% csrf_token %} <!--for security-->
        <!--{{ form.errors }}-->

        <div class="row">
          <div class="col-md-6 mb-3">

            <label for="source">Organization Name</label>
            {{ form.source }}
          </div>

          <div class="col-md-6 mb-3">
            <label for="target">Target Organization </label>
            {{ form.target}}
          </div>
        </div>
      </br>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="affiltype">Affiliation Type</label>
            {{ form.affiltype }}
          </div>
          <div class="col-md-6 mb-3">
            <label for="regultype">Regulation Type </label>
            {{ form.regultype}}
          </div>
      </br>
        </div>
        </br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

</div>
</div>

<div id="footer">
<footer class="bg-faded text-center py-5">
  <div class="container">
    <p class="m-0">Copyright &copy; Your Website 2017</p>
  </div>
</footer>


</body>
<!--endbody-->

</html>
