{% load staticfiles %}
<html>
<head>

  <link rel="stylesheet" href="{% static '/css/business-casual.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="/static/js/home.js"></script>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  <h1></h1>
  <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Climate Adaptation and Mitigation Project</div>
  <h1></h1>

  <style>
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  </style>

  <style>
  #footer{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
  }
  #map {
    height: 400px;
    width: 100%;
  }
  </style>

</head>

<!--body-->
<body>

  <div>
    <!--navbar begin-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="/ClimateAdaptationMitigation/home">Home</a>-->

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="/ClimateAdaptationMitigation/home">Home</a></li>

            <!--dropdown for navbar begin -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose a SNA Visualization <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/ClimateAdaptationMitigation/organizationmap">Geographical</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/ClimateAdaptationMitigation/scope">By Scope</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/ClimateAdaptationMitigation/type">By Type</a></li>
              </ul>
            </li>
            <!--dropdown for navbar ends -->

            <li id="about"><a href="/ClimateAdaptationMitigation/about">About</a></li>
            <li><a href="/ClimateAdaptationMitigation/contact">Contact</a></li>
            <li id="form"><a href="/ClimateAdaptationMitigation/form">Add Organization</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>

      <!--navbar end-->
    </div>
  </div>
  <div class="container">

    <h2 align="center">Social Network Analysis Visualization by Institution Project Scope</h2>

    <div class="row">
      <div class="col-lg-3-offset-lg-3">

        <h1>
          &nbsp;
          &nbsp;
        </h1>
        <!--<p id="queryset" value={{ queryset|safe|escape|striptags }}</p>-->
          <div id="map"></div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKH_cFYUzsJiimkElXIL0R_Spwfg4Z5Tw&sensor=false&libraries=places"></script>

          <script>
          // grab data in json format
          var queryset = "{{ queryset|escapejs }}";
          //var data = JSON.parse(queryset);
          // parse the data
          var data = JSON.parse(queryset);

          //create an array of essentially model objects
          var dataFields = [];
          for (i = 0; i < data.length; i++){
            dataFields.push(data[i].fields);
          }
          //parse the data into the entity dictionary
          var entities = {};
          for(i = 0; i < dataFields.length; i++){
            entities[i] = {
                          Name: dataFields[i].Label,
                          Lat: dataFields[i].Lat,
                          Long: dataFields[i].Lng,
                          Location: dataFields[i].Location,
                          Scope: dataFields[i].ScopeCleaned,
                          Type: dataFields[i].InstitutionalType,
                          Issue: dataFields[i].IssueFocus,
                          Source: dataFields[i].source,
                          Desc: dataFields[i].description
                        };
          }
          //var fields = entities;
          //console.log(fields);

          //where the map is centered
          var position = {lat: 61.2181, lng: -149.9003};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: position
          });
          var searchBox = new google.maps.places.SearchBox(document.getElementById('map'));

          //array of markers
          var markers = [];
          /*
          var markers = [
            {
              coords:{lat:61.2181,lng:-149.9003},
              iconImage:'',
              content:'<h3>Some content here</h3>'
            }
          ];
          */
          // get the size of the entity dictionary
          var entSize = Object.keys(entities).length;

          // add entites to markers
          for(i = 0; i < entSize; i++){
            //get the lat in a number value
            var lat = Number(entities[i].Lat);
            if(lat == null){
              lat = 0;
            }

            //get the long in a number value
            var long = Number(entities[i].Long);
            if(long == null){
              long = 0;
            }

            //get the entity name
            var contentInfo = getContent(entities[i]);
            var marker = getMarker(entities[i]);
            markers.push(
            {
              coords:{lat:lat,lng:long},
              icon: marker,
              content:contentInfo
            });

          }

          //loop through markers and add them to the map
          for(var i = 0; i < markers.length; i++){
            addMarker(markers[i]);
          }

          // get the content of the entity object
          function getContent(entity){
            var contentString = "";
            var label = entity.Name;
            var location = entity.Location;
            var source = entity.Source;
            var desc = entity.Desc;
            if(desc == ""){
              desc = "Information needed."
            }

            //referenced from https://developers.google.com/maps/documentation/javascript/examples/infowindow-simple
            contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">' + label + '</h1>'+
              '<div id="bodyContent">'+
              '<p><b>' + label + '</b>, located at ' + location + ', ' + desc + '</p>'+
              '<p>Attribution: ' + label + ', <a href=' + source + '</a> '+ source +
              '</p>'+
              '</div>'+
              '</div>';

            return contentString;
          }

          // add marker function
          // for adding multiple markers
          // anch, ak lat/lng: lat:61.2181, lng:-149.9003
          function addMarker(props){
            var marker = new google.maps.Marker({
              position:props.coords,
              map:map,
              icon: {
                url: props.icon,
                // This marker is 25 pixels wide by 25 pixels high.
                scaledSize: new google.maps.Size(25, 25),
              }
              //icon: getMarker(props.)
            });

            //check for custom icon

            if(props.icon){
              //set icon image
              marker.setIcon(marker.icon);
            }

            //check for content
            if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content: props.content
              });

              //event listener
              marker.addListener('click', function(){
                infoWindow.open(map, marker);
              });
            }
          }

          //get the appropriate icon for the marker
          //('Government', 'Government'), ('NGO', 'NGO'), ('Tribal', 'Tribal'),
              //('ForProfit', 'ForProfit'), ('Academic', 'Academic'), ('Null', 'Null')
          function getMarker(entity){
            var icon = "";
            var path = "http://127.0.0.1:8000/";
            if(entity.Type === "Government"){
              icon = '/static/files/img/Official_3.png';
             }
            else if(entity.Type === "NGO"){
              icon = '/static/files/img/Official_2.png';
            }
            else if(entity.Type === "Tribal"){
              icon = '/static/files/img/Official_1.png';
            }
            else if(entity.Type === "ForProfit"){
              icon = '/static/files/img/Official_3.png';
            }
            else if(entity.Type === "academic"){
              icon = '/static/files/img/School_1.png';
            }
            else{
              icon = '/static/files/img/Info_4.png';
            }
            return icon;
          }
            //draw lines between points
            /*
            var flightPath = new google.maps.Polyline({
              path: flightPlanCoordinates,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 2
            });

            flightPath.setMap(map);
            */


          </script>

    </div>

  </div>
</div>

<div id="footer">
  <footer class="bg-faded text-center py-5">
    <div class="container">
      <p class="m-0">Copyright &copy; Your Website 2017</p>
    </div>
  </footer>
</div>

</body>
<!--endbody-->

</html>
